<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %> - <%= page %></title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" href="/assets/images/favicon.ico"/>

    <script>var $data = <%- JSON.stringify(data) %>;</script>
</head>
<body>
<div class="uk-block uk-block-default">
    <div class="uk-container uk-container-center">
        <%- include('../partials/header.site.ejs', {data}) %>
    </div>
</div>
<div class="uk-block uk-block-default">
    <div class="uk-container uk-container-center">
        <main>
            <%- body %>
        </main>
    </div>
</div>
<div class="uk-block uk-block-secondary">
    <div class="uk-container uk-container-center">
        <footer>
            <div class="uk-text-center uk-contrast">
                &copy; Sjowme 2016
            </div>
        </footer>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/uikit/js/uikit.min.js"></script>
<script src="/assets/uikit/js/components/slideshow.min.js"></script>
<script src="/assets/uikit/js/components/slideshow-fx.min.js"></script>
<% scripts.forEach(function (script) { %>
<script src="<%= script.src %>"></script>
<% }); %>

</body>
</html>

